.listMeusAgendamentos__container {
    width: 100%;
    height: 100vh;

    display: flex;
    padding: 2rem 3rem;
}

.listMeusAgendamentos__aside {
    width: 10rem;
    height: 100%;

    background-color: var(--blue);

    border-radius: 1rem;
}

.listMeusAgendamentos__aside__icons {
    height: 100%;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.listMeusAgendamentos__aside__icons a {
    filter: brightness(.9);

    transition: all .3s;
}

.listMeusAgendamentos__aside__icons a:hover {
    filter: brightness(1);
}

.listMeusAgendamentos__aside__icons a:not(:last-child) {
    margin-top: 1rem;
}

.listMeusAgendamentos__aside__icons a:last-child {
    margin-top: auto;
}

.listMeusAgendamentos__content {
    width: 100%;
    padding: 0 2rem;
}

.listMeusAgendamentos__content__header {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.tableContainer {
    height: calc(100% - 50px);
    overflow-y: auto;
}

.listTable {
    text-align: left;
    width: 100%;
}

.listTable__header {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.listTable__item {
    font-size: 1.4rem;

    background: var(--white);
    border-radius: 5px;
}

.listTable__item td {
    padding: 1.5rem 2rem;
}


@media (max-width: 780px) {
    html {
        font-size: 50%;
    }

    .listMeusAgendamentos__aside__icons {
        justify-content: space-around;
        flex-direction: row;
    }

    .listMeusAgendamentos__aside__icons a img {
        width: 2.5rem;
    }

    .listMeusAgendamentos__container {
        flex-direction: column;
    }

    .listMeusAgendamentos__aside {
        width: 100%;
        height: 7rem;
    }

    .listMeusAgendamentos__icons {
        flex-direction: revert;
        justify-content: space-evenly;
    }

    .listMeusAgendamentos__icons a:last-child {
        margin-top: 1.5rem;
    }

    .listMeusAgendamentos__content__header {
        margin-top: 2rem;
    }

    .listMeusAgendamentos__content {
        width: 100%;
        height: auto;
    }
}